.character-error section,
.character-idle section,
.character-loading section {
	display: none;
}

.character-error::before {
	content: 'Error';
}

.character-loading::before {
	content: 'Loading';
}

.character-loaded {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.character-loaded section {
	margin: .5em;
	padding: .75em 1em;
	text-transform: uppercase;
}

.character-field-key {
	color: #808080;
}
